{% comment %}

    Adds a basic citation box for the item with rights in.

{%- endcomment -%}
<div class="card">
    <div class="card-header">Rights & attribution</div>
    <div class="card-body">
        <dl>
            {% if page.institution %}
            <dt>Institution:</dt>
            <dd>{{ page.institution }}</dd>
            {% endif %}
            {% if page.source %}
            <dt>Source:</dt>
            <dd><a href="{{ page.source }}" target="_blank" rel="noopener">{{ page.source }}</a>
            {% endif %}
            {% if page.source_id %}
            <dt>Source identifier:</dt>
            <dd>{{ page.source_id }}</dd>
            {% endif %}
            {% if page.rights %}
            <dt>Rights:</dt>   
            <dd>{{ page.rights }}</dd>
            {% endif %}
        </dl>
    </div>
</div>