{%- if site.data.theme.icons -%}{% assign icons = site.data.theme.icons %}{% else %}
More actions

{% assign cb_icons = site.pages | where: "name","cb-icons.svg" | first %}

{% assign icons = cb_icons.icons %}{%- endif -%}

{% if site.data.theme.map-child-objects == true %}
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}

{% else %}

{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' | where_exp: 'item','item.parentid == nil' -%}

{% endif %}

{%- assign items = items | where_exp: 'item', 'item.objectid != nil' | where_exp: 'item','item.latitude' -%}

{%- assign fields = site.data.config-map -%}

<!-- load leaflet dependencies -->

<script src="{{ '/assets/lib/leaflet/leaflet.js' | relative_url }}"></script>

<script src="{{ '/assets/lib/leaflet/Leaflet.fullscreen.min.js' | relative_url }}"></script>

{% if site.data.theme.map-search == true %}<script src="{{ '/assets/lib/leaflet/fuse.min.js' | relative_url }}"></script>

<script src="{{ '/assets/lib/leaflet/leaflet.fusesearch.js' | relative_url }}"></script>{% endif %}

{% if site.data.theme.map-cluster == true %}<script src="{{ '/assets/lib/leaflet/leaflet.markercluster.js' | relative_url }}"></script>{% endif %}

{% if site.data.theme.map-search == true and site.data.theme.map-cluster == true %}<script src="{{ '/assets/lib/leaflet/leaflet.markercluster.freezable.js' | relative_url }}"></script>{% endif %}

    <!-- import the Area of Interest GeoJSON file -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Time-filter Map</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet.css" media="screen, print" rel="stylesheet">

    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" /> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css" />

    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.4.0/leaflet.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script>


    <!-- Time range slider -->
    <link rel="stylesheet" href="forSlider/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="forSlider/jquery-ui.js"></script>

    <link rel="stylesheet" type="text/css" href="style.css" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        #map {
            height: 500px;   /* Medium height */
            width: 800px;    /* Medium width */
            margin: 20px auto; /* Centers the map */

        }
    </style>
</head>

<body>

    <!-- time range slider -->
    <div class="sliderDiv" >
        <p>
            <label for="amount">Time range for acidents:</label>
            <input class="sliderValue" type="text" id="amount" >
        </p>
        <div id="slider-range"></div>
    </div>

    <hr>

    <!-- Title -->
    <h1>Timeline map of injurious accidents at the Philadelphia Oil Refinery <a href="https://clarkdatalabs.github.io/time_filter_map/"><small>Tutorial</small></a></h1>
    <h3>1890 - 2019</h3>

    <!-- MAP -->
    <div id="timeline-map"></div>

    <!-- Manipulate the MAP -->
    <script type='text/javascript' src='script.js'></script>
    <h3>Based on the time filter map from <a href="https://clarkdatalabs.github.io/time_filter_map/"><small>Clark Data Labs</small></a></h1>

</body>
<!--- 
css

#map {
    height: 500px;   /* Medium height */
    width: 800px;    /* Medium width */
    margin: 20px auto; /* Centers the map */
    border: 1px solid #ccc; /* Optional border */
}

2. Viewport-Relative Sizing
css

#map {
    height: 60vh;    /* 60% of viewport height */
    width: 80vw;     /* 80% of viewport width */
    max-width: 1000px; /* Maximum size */
} --->



<script>
        const geoJsonURL = "https://raw.githubusercontent.com/benliebersohn/petrosylvania-collection-builder/refs/heads/main/_includes/js/accident_data.geojson";

    // Initial center of the map in terms of longitude and latitude
 //       const geoCenter = [42.15, -83.7436];
        const geoCenter = [39.91, -75.19];

    // Determine initial range of area shown on map (zoom closer when the number is higher)
        const zoomLevel = 13;

    // Start and End year of the dataset
        const baseStartYear = 1860;
        const baseEndYear = 2019;

    //Markers & Clusters
        // The color of the markers, used in function customizeMarker()
            const markColor = '#4E91BE';
        // Determine the threshold of distance that cluster multiple markers, used in Function initialMarkerClusters()
            const maxClusterRadius = 10;
        // Specify the color of the marker cluster in css under the class name, used in Function initialMarkerClusters()
            const clusterColorClass = 'marker-cluster-color';

    // Check line 170-174 to customize the information on tooltip for your data



// Slider
    $( function() {
        // config opaque slider
            $( "#slider-opaque" ).slider({
                range: false,
                min: 0,
                max: 1,
                step: 0.1,
                value: 1,
                slide: function( event, ui ) {
                    let opaque = ui.value;

                    $( "#opacity" ).val( opaque );
                    a2_1916_02.setOpacity(opaque);
                }
            });

        // initial display
            $( "#opacity" ).val("1");


        // config time range slider
            $( "#slider-range" ).slider({
                range: true,
                min: baseStartYear,
                max: baseEndYear,
                values: [ baseStartYear, baseEndYear],

                // Every time slider is slided, the map should be refreshed
                    slide: function( event, ui ) {
                        var newGeoJson = {
                            "type" : "Feature Collection",
                            "features": []
                        };
                        let startYear = ui.values[ 0 ];
                        let endYear = ui.values[ 1 ];

                        $( "#amount" ).val( startYear + " - " + endYear );

                        $.getJSON(geoJsonURL, function(data){
                            let GEOJSON  = data;
                            for (let i = 0; i < GEOJSON["features"].length; i++){
                                if (GEOJSON["features"][i]["properties"]["Date"] >= startYear && GEOJSON["features"][i]["properties"]["Date"] <= endYear) {  // will change "id" to "year"
                                    newGeoJson["features"].push(GEOJSON["features"][i])
                                }
                            }
                            renderPinsFromJson(something_markers,newGeoJson);
                        });
                    }
            });
        //initial display
            $( "#amount" ).val(
                 $( "#slider-range" ).slider( "values", 0 ) + " - " + $( "#slider-range" ).slider( "values", 1 )
            );
    });


// RENDER THE MAP
    //Using map from OpenStreetMap
        var OpenStreetMap_BlackAndWhite = L.tileLayer('https://a.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        });
        var map2 = L.map('timeline-map', {
            layers: [OpenStreetMap_BlackAndWhite]
        });

    // Initial zoom and center in the map
        map2.setView(geoCenter, zoomLevel);

    // Set markers & clusters on the map
        var something_markers = initialMarkerClusters();

    // Get the initial Markers
        renderPinsFromURL(something_markers, geoJsonURL);





// Functions to be used above
    // Implement the customized Icon
        function customizeMarker(){
            const markerNarrativeHtmlStyles = `
                                          background-color: ${markColor};
                                          width: 1.2rem;
                                          height: 1.2rem;
                                          display: block;
                                          top: -1.2rem;
                                          position: relative;
                                          border-radius: 3rem 3rem 0;
                                          transform: rotate(45deg);
                                          border: 0.5px solid #FFFFFF
                                      `
            var icon = L.divIcon({
                                      className: "my-custom-pin",
                                      iconAnchor: [10, 5],
                                      labelAnchor: [0, 0],
                                      popupAnchor: [0, -18],
                                      html: `<span style="${markerNarrativeHtmlStyles}" />`
                                    })
            return icon;
        };



    // Set the cluster of markers
        function initialMarkerClusters(){
            let groupToReturn = new L.markerClusterGroup({
                                    spiderfyOnMaxZoom: true,
                                    showCoverageOnHover: true,
                                    zoomToBoundsOnClick: true,
                                    maxClusterRadius: `${maxClusterRadius}`,
                                    singleMarkerMode: false,
                                    iconCreateFunction: function(cluster){
                                        count = 0;
                                        cluster.getAllChildMarkers().forEach(function(child){
                                            count =count + parseInt(child.feature.properties.Count);
                                        });
                                        return L.divIcon({
                                            className:`marker-cluster ${clusterColorClass}`,
                                            iconSize: new L.Point(40,40),
                                            html: `<div><span >` + count + '</span></div>'
                                        });
                                    }
                                })
            return groupToReturn;
        };



    // When you have your Geojson file in your folder, use this function is　handy
        function renderPinsFromURL(markers, geoJsonURL){
            $.getJSON(geoJsonURL, function(data){
                renderPinsFromJson(markers, data);
            })
        }



    // Render Markers on the map based on the geojson data
        function renderPinsFromJson(markers, geoJson){
            var customizedIcon = customizeMarker();
            var geojson = L.geoJson(
                                geoJson,
                                {   // Information shown in tooltip
                                        onEachFeature: function(feature,layer){
                                            layer.bindPopup(
                                                "<b>Date:  </b>" + feature.properties.Year + "<br>" + // var Date is being used to filter by year. Swap date and year!
                                                "<b>Description:  </b>" + feature.properties.Descript + "<br>" +
//                                                "<b>Injurious?:  </b>" + feature.properties.Injury + "<br>" +
//                                                "<b>Deadly?:  </b>" + feature.properties.Dead + "<br>" +
                                                "<b>Injured (min.):  </b>" + feature.properties.NumInjur + "<br>" +
                                                "<b>Dead (min.):  </b>" + feature.properties.NumDead + "<br>" +
                                                "<b>Corporate location:  </b>" + feature.properties.Responsi + "<br>" +
                                            //    "<b>AOI ID:  </b>" + feature.properties.AOI_ID + "<br>" +
                                            //    "<b>Location name:  </b>" + feature.properties.Name + "<br>" +
                                                "<b>Street coordinates:   </b>" + feature.properties.Street_D);
                                                
//                                                "<b>Year:  </b>" + feature.properties.Date + "<br>" +

                                        },
                                    pointToLayer: function (feature, latlng) {
                                        return L.marker(latlng, {icon: customizedIcon});
                                    }
                            });
            markers.clearLayers();
            markers.addLayer(geojson);
            map2.addLayer(markers);
        };
</script>
