<footer class="bg-dark pt-4 mt-auto container-fluid">

    <div class="row pb-4 mb-2">
        <div class="col-md-12 px-4 mt-3">
            <h2 class="h4"><a href="{{ '/' | relative_url }}" class="text-white header-text-minion-pro">{{ site.title }}</a></h2>
            <p class="text-white"><small>{{ site.footer }}</small></p>
        </div>
        <!--logos/citation in this row-->
        <div class="row pb-4 mb-2 mt-4">
            <!--image citation-->
            <div class="col-md-10 mt-3 px-4 text-start text-white d-flex align-items-end" id="footer-citation">
                <h6>
                Above image: <a href="/items/view_0035" target="_blank" rel="noopener">"Video still of 2019 PES Refinery accident," US Chemical Safety and Hazard Investigation Board, <i>Wake Up Call: Refinery Disaster in Philadelphia</i>, 2022.</a>
                </h6>
            </div>
            <!--rdds-->
            <div class="col-md-1 mt-3 text-center">
            {% if site.organization-logo-nav %} 
                <p class="text-md-end">
                    <a href="{{ site.organization-link }}" target="_blank" rel="noopener">
                        <img id="footer-logo" class="img-fluid p-1 rounded bg-light" src="{{ site.organization-logo-nav | relative_url }}" alt="{{ site.organization-name | escape }} home">
                    </a>
                </p>
                {% endif %}
            </div>
            <!--collectionbuilder-->
            <div class="col-md-1 mt-3 text-center">
                <p class="text-white text-md-end" id="footer-credits">
                    <a href="https://collectionbuilder.github.io/" target="_blank" rel="noopener" title="CollectionBuilder">
                        <img src="{{ '/assets/img/collectionbuilder-logo.png' | relative_url }}" class="img-fluid" alt="CollectionBuilder">
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>