/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

.leaflet-control-layers{

}

.leaflet-control-layers-expanded{
	display: block !important;
	visibility:visible !important;
}

.accordion-button:not(.collapsed) {
    color: black !important;
    background-color:white;
}

.accordion-button.collapsed {
    color:black !important; 
}

.accordion-button::before {
    color:black !important;
}

.accordion-button::after {
    color:black !important;
}

.card-body {
    padding-left: .75em;
    padding-right: .75em;
}

.nav {
    padding-left: .75em;
    padding-right: .75em;
}

.highlight {
    background-color:#FFF000;
}