/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

body {
    font-family: "gotham", sans-serif;
}


.leaflet-control-layers{

}

.leaflet-control-layers-expanded{
	display: block !important;
	visibility:visible !important;
}

.accordion-button:not(.collapsed) {
    color: black !important;
    background-color:white;
}

.accordion-button.collapsed {
    color:black !important; 
}

.accordion-button::before {
    color:black !important;
}

.accordion-button::after {
    color:black !important;
}

.card-body {
    padding-left: .75em;
    padding-right: .75em;
}

.nav {
    padding-left: .75em;
    padding-right: .75em;
}

.highlight {
    background-color:#FFF000;
}

.header-text-minion-pro {
    font-family: "minion-pro-display";
}

.header-text-gotham {
    font-family: "gotham", sans-serif;
}

.card {
    height: 100%;
    background-color:#e3e3e3;
}

code {
    color: #000000;
}

.def-link:link {
    text-decoration: underline dotted;
}