---
# collection "Browse" page
layout: page
custom-foot: js/browse-js.html
---

{{ content }}

<div class="row mb-3 justify-content-center">
    <div class="col-md-8 text-center">
        <form role="search" id="browseFilter" onsubmit="submitFilter(); return false;">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" id="filterTextBox" placeholder="Filter ... " aria-label="Search"> 
                <button class="btn btn-secondary" type="submit" title="Filter items" id="filterButton" >Search</button>
                <button class="btn btn-outline-secondary filter" onclick="resetFilter(); return false;" data-filter="">Reset</button>
            </div>
        </form>
        <div class="h2" id="numberOf"></div>
    </div>
    <div class="col-md-2">
        <div class="dropdown">
            <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="browseSortButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by <span id="sortFilter"></span>
            </button>
            <div class="dropdown-menu browse-sort-menu" aria-labelledby="browseSortButton">
                <button class="dropdown-item browse-sort-item" data-filter="title">Title</button>
                {% assign sort_options = site.data.config-browse | where_exp: 'i','i.sort_name != nil' %}
                {% for o in sort_options %}
                <button class="dropdown-item browse-sort-item" data-filter="{{ o.field | escape }}">{{ o.sort_name }}</button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div id="loadingIcon" class="text-center">
    <div class="spinner-border text-dark" role="status"><span class="visually-hidden">Loading...</span></div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="d-none d-md-block col-md-3">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button bg-white text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Collection
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% assign mapped_ctypes = site.data[site.metadata] | map: "collection_type" | compact | uniq %}{% capture included_ctypes %}{% for s in mapped_ctypes %}{{s}}  {% endfor %}{% endcapture %}
            
                              {% for ctype in site.data.collection-types%} {% if included_ctypes contains ctype.title %}
                              <a href="#{{ctype.short}}" class="btn btn-outline-secondary btn-sm m-1">{{ctype.title}}</a>
                              {% endif %}
            
                              {% endfor %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed bg-white text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        Genre
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% assign mapped_gtypes = site.data[site.metadata] | map: "genre_type" | compact | uniq %}{% capture included_gtypes %}{% for s in mapped_gtypes %}{{s}}  {% endfor %}{% endcapture %}
        
                        {% for gtype in site.data.genre-types%} {% if included_gtypes contains gtype.title %}
                        <a href="#{{gtype.short}}" class="btn btn-outline-secondary btn-sm m-1">{{gtype.title}}</a>
                        {% endif %}
                      {% endfor %}
                </div>
            </div>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button bg-white text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseOne">
                           Location
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% assign mapped_ltypes = site.data[site.metadata] | map: "place_type" | compact | uniq %}{% capture included_ltypes %}{% for s in mapped_ltypes %}{{s}}  {% endfor %}{% endcapture %}
            
                              {% for ltype in site.data.place-types%} {% if included_ltypes contains ltype.title %}
                              <a href="#{{ltype.short}}" class="btn btn-outline-secondary btn-sm m-1">{{ltype.title}}</a>
                              {% endif %}
            
                              {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-9 pl-5">
    <div class="row" id="browseItems"></div>
</div>




<div class="row" id="browseItems"></div>
